/* Общие стили */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #000000;
  background-color: #222221;
}

input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus,
button:focus,
audio:focus,
video:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  text-decoration: none;
  color: #A40000;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* Органайзер */

.organizer {
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 0.5px #dbdada;
  width: 100%;
  min-width: 310px;
  border: 1px solid #C0C0C0;
  border-radius: 15px;
  background-color: #ffffff;
}

/* Главное меню */

.organizer-header-menu{
  position: relative;
  height: 51px;
}

.menu-buttons-group {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  margin: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #C0C0C0;
  background-color: #ffffff;
}

.file-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  opacity: 0.1;
  width: 100%;
}

.menu-button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-size 0.1s ease-in;
}

.menu-button:hover {
  background-size: 30px;
}

.home-button {
  background-image: url('../img/home.png')
}

.file-button {
  background-image: url('../img/file.png');
}

.favorites-button {
  background-image: url('../img/favorites.png');
}

.filter-button {
  background-image: url('../img/filter.png');
}

.filter-toggle {
  display: none;
  justify-content: center;
  padding: 3px;
  margin: 0;
  border-bottom: 1px solid #C0C0C0;
  list-style-type: none;
  background-color: #ffffff;
}

.filter-toggle-active {
  display: flex;
}

.filter-item {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer;
  transition: background-size 0.1s ease-in;
}

.filter-item:nth-child(n+2) {
  margin-left: 15px;
}

.filter-item:hover {
  background-size: 25px;
}

.text-filter {
  background-image: url('../img/text_filter.png');
}

.image-filter {
  background-image: url('../img/image_filter.png');
}

.application-filter {
  background-image: url('../img/app__filter.png');
}

.audio-filter {
  background-image: url('../img/audio_filter.png');
}

.video-filter {
  background-image: url('../img/video_filter.png');
}

/* Чат */

.organizer-chat {
  height: 500px;
  max-height: calc(100vh - 200px);
  padding: 20px;
  background-color: #0e1621;
  /* background-image: url('../img/wall.png'); */
}

.chat-container {
  max-height: calc(100% - 40px);
  overflow: auto;
}

.drag-and-drop-area {
  background-color: Azure;
}

/* Сообщения */

.message {
  padding: 10px;
  border: 1px solid #C0C0C0;
  border-radius: 15px;
  background-color: #2b5278;
  color: #e4eccb;
}

.message:nth-child(n+2) {
  margin-top: 10px;
}

.message-content, .pinned-message-content {
  word-wrap: break-word;
}

.message-footer, .pinned-message-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-footer {
  margin-top: 10px;
}

.message-date {
  font-size: 12px;
}

.message-actions-group {
  display: flex;
}

.message-action, .pinned-message-action {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer;
}

.pin-action {
  background-image: url('../img/pin_hidden.png');
}

.pin-action:hover {
  background-image: url('../img/pin_active.png');
}

.favorites-action {
  margin-left: 5px;
  background-image: url('../img/fav_hidden.png');
}

.favorites-action:hover, .favorites-action-active {
  background-image: url('../img/fav_active.png');
}

.pinned-message {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 3px solid #228B22;
  background-color: #ffffff;
  font-size: 12px;
}

.pinned-message-content {
  box-sizing: border-box;
  max-height: 20px;
  overflow: auto;
}

.pinned-message-action {
  margin-left: 5px;
  background-image: url('../img/pin.png');
  background-size: 15px;
  transition: background-size 0.1s ease-in;
}

.pinned-message-action:hover {
  background-size: 20px;
}

.pinned-message-link {
  display: inline-block;
  margin-left: 10px;
}

/* Тип сообщения */

.bot {
  border-color: #228B22;
  background-color: #228B22;
  color: #ffffff;
}

.geolocation-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/geo_icon.png');
  background-repeat: no-repeat;
  background-size: cover;
}

audio,
video,
.image-box {
  width: 50%;
}

.image {
  width: 100%;
}

.application {
  display: flex;
  align-items: center;
}

.application-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../img/document.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.application-link {
  font-size: 12px;
  color: #0000CD;
  text-decoration: none;
}

/* Превью видео */

.preview-box {
  position: absolute;
  top: 100px;
  width: 300px;
}

.preview {
  width: 100%;
}

/* Форма органайзера */

.organizer-footer-form {
  position: relative;
  border-top: 1px solid #C0C0C0;
}

.text-input {
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  resize: none;
  padding: 10px 180px 10px 10px;
  margin: 0;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font: inherit;
  letter-spacing: inherit;
}

.footer-form-buttons-group {
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
}

.media-buttons-group,
.record-buttons-group{
  display: none;
}

.media-buttons-active,
.record-buttons-active {
  display: flex;
  align-items: center;
}

.media-button,
.record-button,
.geolocation-button  {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: none;
  background-color: inherit;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-size 0.1s ease-in;
}

.media-button:hover,
.record-button:hover,
.geolocation-button:hover {
  background-size: 30px;
}

.audio-button {
  background-image: url('../img/audio.png');
}

.video-button {
  background-image: url('../img/video.png');
}

.save-button {
  background-image: url('../img/ok.png');
}

.close-button {
  background-image: url('../img/cross.png');
}

.geolocation-button {
  background-image: url('../img/geolocation.png')
}

.timer-container {
  margin-right: 10px;
}

/* Координаты */

.geolocation-form {
  position: absolute;
  top: 100px;
  display: none;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 1px #dbdada;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border: 1px solid #C0C0C0;
  border-radius: 15px;
  background-color: #ffffff;
}

.geolocation-form-active {
  display: block;
}

.geolocation-input {
  box-sizing: border-box;
  display: block;
  width: 90%;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid #C0C0C0;
  border-radius: 15px;
  font: inherit;
  letter-spacing: inherit;
}

.geolocation-input:focus {
  background-color: #fcfcfc;
}

.geolocation-form-buttons-group {
  display: flex;
  justify-content: flex-end;
}

.geolocation-form-button {
  display: block;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #228B22;
  background-color: #228B22;
  color: #ffffff;
  font: inherit;
  font-weight: 400;
  letter-spacing: inherit;
}

.geolocation-form-button:first-child {
  margin-right: 10px;
}

.geolocation-form-button:hover {
  background-color: #008000;
}

/* Подсказка */

.tooltip {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 1px #dbdada;
  width: 90%;
  max-width: 400px;
  padding: 15px;
  border: 1px solid #C0C0C0;
  border-radius: 15px;
  background-color: #ffffff;
  text-align: center;
}

.tooltip-button {
  display: block;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #B22222;
  background-color: #B22222;
  color: #ffffff;
  font: inherit;
  font-weight: 400;
  letter-spacing: inherit;
}

.tooltip-button:hover {
  background-color: #8B0000;
}
